{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for tx in tx_list %}
                <tr>
                    <td>{{ tx["symbol"] }}</td>
                    <td>{{ tx["shares"] }}</td>
                    <td>{{ tx["price"] }}</td>
                    <td>{{ tx["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
